<div class="ui one column grid">
  <div class="row center aligned ui grid">
    <div class="ten wide left aligned column">
      <payment-form (submitPayment)="submit($event)"></payment-form>
      <div *ngIf="showProgress" class="ui active inline loader progress-btn"></div>
      <!-- <div class="ui message" *ngIf="showSuccessfullMsg">
        <p style="color: rgb(48, 150, 1); font-weight: bold">
          * Successfully reached api, now you will redirect to home page
        </p>
      </div>
      <div class="ui message" *ngIf="showErrorMessage">
        <p style="color: rgb(226, 1, 1); font-weight: bold">
          Something went wrong, Please try again later
        </p>
      </div> -->
    </div>
  </div>
</div>
